<div class="navbar navbar-light navbar-lewagon d-flex">
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
    <%= link_to 'SOULFOOD', root_path(), class: 'navbar-brand' %>
    <h2 class="navbar-brand"> Profile </h2>

  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <%= link_to 'About Soulfood', about_path(), class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Contact Soul cooks', about_path(), class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Soul resources', about_path(), class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </div>
</div>