<div class="container">
  <h1>About Soulfood</h2>
  <p> My name is Alexis CIMADEVILLA, I'm an embedded SW engineer sports lover trying to find his peace
  in this world like everyone else.<br> In my life I have always dealt with anxiety and I have never been able to find
  easily solutions to deal with that in my daily life.
  This platform is an experiment which purpose is to give a space to everyone who's facing hard psychological 
  times. This platform is meant to give soft clues/solutions to face those times in order for anyone to become stronger 
  and to better understand himself when new hard times will arrive.
  Each person is different and so there are several ways to help people to find inner peace.
  My idea is just to give you the soul food you need to realign with yourself,
  liberate your potential and have the resilience to face hard times. I hope this platform helps you!🙏
</div>