<div class="container">
	<h2> Ceci est soul food et nous sommes ici pour vous aider à guérir et vous épanouir </h2>
</div>
<div class="container">
	<p>What do we have to offer to you?</p>
</div>
<footer>
</footer>