<div class="container">
  <h2>Why this platform exists?</h2>
  <div class="homepage-description">
    <p > This platform is an experiment which purpose is to give a space to everyone who's facing hard psychological 
    times.<br>This platform is meant to give soft clues/solutions to face those times in order to better understand yourself and gain resilience.<br> This platform aims to supply self development content for all the persons in need based on the main fields of practice of 
    of self-development</p>
  </div>
  <h2> What are the pillars of self-development? </h2>
  <div class="cards-keys-self-development">
    <div class="card-key-self-development">
      <%= image_tag("alena-jarrett-aOm1qcNc6Lw-unsplash.jpg", size: "160", class: "img-card-key-self-development")%>
      <p> Self-confidence </p>
    </div>
    <div class="card-key-self-development">
      <%= image_tag("jared-rice-NTyBbu66_SI-unsplash.jpg", size: "160", class: "img-card-key-self-development")%>
      <p> Well being</p>
    </div>
    <div class="card-key-self-development">
      <%= image_tag("greg-rakozy-oMpAz-DN-9I-unsplash.jpg", size: "160", class: "img-card-key-self-development")%>
      <p> Find a sense to your life </p>
    </div>
    <div class="card-key-self-development">
      <%= image_tag("scott-graham-5fNmWej4tAA-unsplash.jpg", size: "160", class: "img-card-key-self-development")%>
      <p> Develop your full potential</p>
    </div>
  </div>
  <h2>What do we offer?</h2>
  <div class="homepage-description">
  <p> The aim of this place is to give everybody the online spiritual content needed by making your own menu from :</p>
  </div>
  <div class="cards-content-type">
    <div class="card-content-type">
      Podcasts
    </div>
    <div class="card-content-type">
      Inspiring articles
    </div>
    <div class="card-content-type">
      Readings
    </div>
    <div class="card-content-type">
      Sport programs
    </div>
  </div>
</div>