<div class="container">
	<h2> This is Soulfood and we are here to help you heal and grow</h2>
	<h2>Why this platform exists?</h2>
  <p>This platform only exist because of one observation : too much people suffer mentally everyday.This virtual space has for main purpose to tell you first that you are not the only one facing this kind of issue.
      The difficulties you are facing are not meant to last forever but that there is no shame to feel the way you do.
     All the feelings you have are legitimate and need to be heard/accepted and not repressed.
     All this to say that you have the strength and the solutions in yourself to face it.
   </p>
  <h2>What do we offer?</h2>
  <p> The aim of this place is to give everybody the online spiritual content needed by several ways :</p>
  <ul>
    <li> Propose private sessions with coach or psychologists to have a profesional counseling regarding mental health management </li>
    <li> Give podcasts list linked to help understand some topics linked to personal development </li>
    <li> Propose sports sessions in order to align mind and body </li>
    <li> All the content delivered by SoulFood would be available online </li>
  </ul>
</div>